{% extends "base.html" %}

{% block content %}
<h1>Pilvi G:n mahtava Labra Palvelu!</h1>

<!-- Nappien lisäys -->
<div class="mt-4">
    <a href="{% url 'list_devices' %}" class="btn btn-primary">Labran laitteet</a>
    <br>
    <br>
    <a href="{% url 'login' %}" class="btn btn-secondary">Kirjaudu sisään</a>
    <a href="{% url 'logout' %}" class="btn btn-secondary">Kirjaudu ulos</a>
    <a href="{% url 'register' %}" class="btn btn-secondary">Rekisteröidy</a>
    <br>
    <br>
</div>
<footer>
</footer>

{% endblock %}